<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form 
                        cform
                        [formGroup]="formulario"
                        (ngSubmit)="getuser()"
                        >
                            <c-alert color="danger" class="none">Email o nombre de usuario {{user}} no se encuentra en la base de datos</c-alert>
                            <c-alert color="danger" class="none">Debes ingregar un Email o nombre de usuario</c-alert>
                            <c-alert color="submit" class="none">Enviamos un mensaje a tu correo {{user}}, accede mediante el.</c-alert>
                            <h1>Recupera tu cuenta</h1>
                            <p class="text-medium-emphasis">
                                Ingresa tu email o nombre de usuario para encontrar tu cuenta.</p>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser"></svg>
                                </span>
                                <input placeholder="Username o E-mail" cFormControl formControlName="user"/>
                            </c-input-group>
                            <div class="d-grid">
                                <button cButton type="submit" color="success">
                                    Encontrar cuenta
                                </button>
                            </div>
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>