<div class="contenedor-users">
    <div class="filtro-agregar">
        <button *ngIf="permisos.w" class="btn btn-agregar" (click)="accionesClick('', 1, agregar)">
            <i class="cil-plus"></i>
        </button>
        <input type="text" class="filtro" placeholder="Filtrar..." (keyup)="updateFilter($event)" />
    </div>
    <ngx-datatable #mydatatable class="material striped" [headerHeight]="50" [limit]="5" [externalSorting]="true"
        [virtualization]="true" [footerHeight]="50" rowHeight="auto" [rows]="users" [columns]="columns"
        [columnMode]="ColumnMode.flex" *ngIf="permisos.r">
        <ngx-datatable-column prop="id" name="Id" [flexGrow]="0.5"><!-- Me gusta más esta forma -->
            <ng-template ngx-datatable-cell-template let-column="column" let-sort="sortFn" let-value="value">
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="nombre"
            [flexGrow]="1"><!-- Pero hay esta forma y esta tambien la de categoria y contacto -->
            <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn">
                <span class="tableHeader">Nombre</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="telefono" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-column="column" let-sort="sortFn" let-value="value">
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="email" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-column="column" let-sort="sortFn" let-value="value">
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="direccion" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-column="column" let-sort="sortFn" let-value="value">
                <span>{{ value }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="acciones" name="Acciones" [flexGrow]="1">
            <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template let-column="column"
                let-sort="sortFn">
                <div class="div-botones" *ngIf="permisos.u || permisos.d || permisos.r">
                    <ng-container *ngFor="let item of botones">
                        <button class="me-1 btn g-botones-acciones"
                            (click)="accionesClick('Descripcion', rowIndex, item.nombre)"
                            *appPermissions="{ modulo: 'persona', permiso: item.permiso }">
                            <i [ngClass]="{
                  'cil-book': item.nombre === 'Leer',
                  'cil-trash': item.nombre === 'Borrar',
                  'cil-pencil': item.nombre === 'Actualizar'
                }"></i>
                        </button>
                    </ng-container>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <!-- ACCIONES  -->
    <div [class]="{
      contenedor: l || a || b,
      none: ((l === a) === b) === false
    }">
        <!-- LEER -->
        <div *ngIf="l" [class]="{
        contenedor_model: l
      }">
            <div class="form-model">
                <div class="etiqueta-accion">
                    <h3 style="color: aliceblue">
                        {{ titulo_model }}
                    </h3>
                    <button class="boton_cerrar" type="button" (click)="l = false">
                        X
                    </button>
                </div>
                <div class="form-categoria">
                    <table class="tabla-leer-users">
                        <tbody>
                            <tr>
                                <td>ID:</td>
                                <td id="celId">{{ id }}</td>
                            </tr>
                            <tr>
                                <td>Nombres:</td>
                                <td id="celNombre">{{ nombre }}</td>
                            </tr>
                            <tr>
                                <td>Telefono:</td>
                                <td id="celEmail">{{ telefono }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td id="celMensaje">{{ email }}</td>
                            </tr>
                            <tr>
                                <td>contraseña:</td>
                                <td id="celMensaje">{{ contrasena }}</td>
                            </tr>
                            <tr>
                                <td>Salario:</td>
                                <td id="celMensaje">{{ salario }}</td>
                            </tr>
                            <tr>
                                <td>Direccion:</td>
                                <td id="celMensaje">{{ direccion }}</td>
                            </tr>
                            <tr>
                                <td>Token:</td>
                                <td id="celMensaje">{{ token }}</td>
                            </tr>
                            <tr>
                                <td>Estado:</td>
                                <td id="celMensaje">{{ status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pie-pagina-model">
                    <button id="btnActionForm" class="btn-guardar" type="submit">
                        <i class="cil-check" aria-hidden="true"></i>
                        <span id="btnText">Guardar</span>
                    </button>
                    <button class="btn-cerrar" type="button" data-dismiss="modal" (click)="l = false">
                        <i class="cil-x" aria-hidden="true"></i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
        <!-- Actualizar -->
        <div *ngIf="a" [class]="{
        contenedor_model: a
      }">
            <div class="form-model">
                <div class="etiqueta-accion">
                    <h3 style="color: aliceblue">
                        {{ titulo_model }}
                    </h3>
                    <button class="boton_cerrar" type="button" (click)="a = false">
                        X
                    </button>
                </div>
                <form method="post" class="form-producto" [formGroup]="formulario" (ngSubmit)="updatePersona()">
                    <p>
                        Los campos con asterisco (<span style="color: red">*</span>) son
                        obligatorios.
                    </p>
                    <div class="entradas-users">
                        <div class="entradas-txt-users">
                            <div class="grupo-users-form">
                                <div class="entrada-txt-nom">
                                    <label class="etiqueta-entrada-form">Nombre <span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtNombre" name="txtNombre" type="text"
                                        placeholder="Nombre Producto" formControlName="nombre" />
                                </div>
                                <div class="entrada-txt-des">
                                    <label class="etiqueta-entrada-form">Telefono<span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtTelefono" name="txtTelefono"
                                        placeholder="Referencia Producto" formControlName="telefono" type="number" />
                                </div>
                            </div>
                            <div class="entrada-txt-form">
                                <label for="etiqueta-entrada-form">Email<span style="color: red">*</span></label>
                                <textarea class="entrada-form" id="txtEmail" name="txtEmail" rows="2"
                                    placeholder="Email" formControlName="email"></textarea>
                            </div>
                            <div class="entrada-txt-form">
                                <label for="etiqueta-entrada-form">Salario<span style="color: red">*</span></label>
                                <input class="entrada-form" id="txtSalario" name="txtSalario" type="number"
                                    formControlName="salario" placeholder="0" />
                            </div>
                            <div class="grupo-users-form">
                                <div class="entrada-txt-cant-min">
                                    <label class="etiqueta-entrada-form">Contraseña<span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtContraseña" name="txtContraseña" type="text"
                                        formControlName="contrasena" />
                                </div>
                                <div class="entrada-txt-cant-act">
                                    <label class="etiqueta-entrada-form">Dirección<span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtDirección" name="txtDirección" type="text"
                                        placeholder="0" formControlName="direccion" />
                                </div>
                                <div class="entrada-txt-pre-ven">
                                    <label class="etiqueta-entrada-form">Token<span style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtToken" name="txtToken" type="text"
                                        placeholder="0" formControlName="token" />
                                </div>
                                <div class="entrada-txt-pre-com">
                                    <label class="etiqueta-entrada-form">Estado<span style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtEstado" name="txtEstado" rows="2" placeholder="0"
                                        formControlName="status" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pie-pagina-model">
                        <button id="btnActionForm" class="btn-guardar" type="submit">
                            <i class="cil-check" aria-hidden="true"></i>
                            <span id="btnText">Guardar</span>
                        </button>
                        <button class="btn-cerrar" type="button" data-dismiss="modal" (click)="a = false">
                            <i class="cil-x" aria-hidden="true"></i>
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Borrar -->
        <div *ngIf="b" [class]="{
        contenedor_model: b
      }">
            <div class="form-model">
                <div class="etiqueta-accion">
                    <h3 style="color: aliceblue">
                        {{ titulo_model }}
                    </h3>
                    <button class="boton_cerrar" type="button" (click)="b = false">
                        X
                    </button>
                </div>
                <form method="post" class="form-categoria">
                    <div class="img-advertencia">
                        <img src="../../../../assets/images/warning.webp" alt="" />
                        <h2>Eliminar Categoría</h2>
                        <p>¿Realmente quiere eliminar la categoría?</p>
                        <div class="botones-form">
                            <button type="button" class="btn-cerrar" (click)="b = false">
                                No, Cancelar!
                            </button>
                            <button type="button" class="btn-guardar" (click)="deletePersona(id)">
                                Si, Eliminar!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- CREAR -->
    <div [class]="{
      none: !agregar,
      contenedor: true
    }">
        <div [class]="{
        contenedor_model: agregar
      }">
            <div class="form-model">
                <div class="etiqueta-accion">
                    <h3 style="color: aliceblue">
                        {{ titulo_model }}
                    </h3>
                    <button class="boton_cerrar" type="button" (click)="agregar = false">
                        X
                    </button>
                </div>
                <form method="post" class="form-categoria" [formGroup]="formulario" (ngSubmit)="addPersona()">
                    <c-alert color="danger" class="none" id="repeatuser">Este email {{ repeatuser }} ya
                        existe!</c-alert>
                    <c-alert color="danger" class="none" id="repeatuser">La contraseña debe tener mas de 6 caracteres,
                        una letra mayuscula y un caracter especial</c-alert>
                    <p>
                        Los campos con asterisco (<span style="color: red">*</span>) son
                        obligatorios.
                    </p>
                    <div class="entradas-users">
                        <div class="entradas-txt-users">
                            <div class="grupo-users-form">
                                <div class="entrada-txt-nom">
                                    <label class="etiqueta-entrada-form">Nombre <span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtNombre" name="txtNombre" type="text"
                                        placeholder="Nombre Producto" formControlName="nombre" />
                                </div>
                                <div class="entrada-txt-des">
                                    <label class="etiqueta-entrada-form">Referencia<span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtTelefono" name="txtTelefono" type="number"
                                        placeholder="Telefono" formControlName="telefono" />
                                </div>
                            </div>
                            <div class="entrada-txt-form">
                                <label for="etiqueta-entrada-form">Email<span style="color: red">*</span></label>
                                <input class="entrada-form" id="txtEmail" name="txtEmail" type="text"
                                    placeholder="Email..." formControlName="email" />
                            </div>
                            <div class="entrada-txt-form">
                                <label for="etiqueta-entrada-form">Contraseña <span style="color: red">*</span></label>
                                <input class="entrada-form" id="txtMensaje" name="txtMensaje" rows="2"
                                    formControlName="contrasena" placeholder="Contrasena" />
                            </div>
                            <div class="grupo-users-form">
                                <div class="entrada-txt-cant-min">
                                    <label class="etiqueta-entrada-form">Salario <span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtNombre" name="txtNombre" type="number"
                                        placeholder="0" formControlName="salario" />
                                </div>
                                <div class="entrada-txt-cant-act">
                                    <label class="etiqueta-entrada-form">Dirección <span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtDireccion" name="txtDireccion" rows="2"
                                        placeholder="0" formControlName="direccion" />
                                </div>
                                <div class="entrada-txt-pre-ven">
                                    <label class="etiqueta-entrada-form">Token<span style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtToken" name="txtToken" type="text"
                                        placeholder="0" formControlName="token" />
                                </div>
                                <div class="entrada-txt-pre-com">
                                    <label class="etiqueta-entrada-form">Estado <span
                                            style="color: red">*</span></label>
                                    <input class="entrada-form" id="txtEstado" name="txtEstado" type="checkbox"
                                        formControlName="status" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pie-pagina-model">
                        <button id="btnActionForm" class="btn-guardar" type="submit">
                            <i class="cil-check" aria-hidden="true"></i>
                            <span id="btnText">Guardar</span>
                        </button>
                        <button class="btn-cerrar" type="button" data-dismiss="modal" (click)="agregar = false">
                            <i class="cil-x" aria-hidden="true"></i>
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- TOAST -->
    <c-toaster [placement]="position" class="p-3" position="fixed">
        <c-toast [visible]="visibleRepetido">
            <c-toast-header>
                <toast-sample-icon></toast-sample-icon>
                Error
            </c-toast-header>
            <c-toast-body>
                <p>El nombre {{user.nombre}}, ya esta siendo usado, elige otro</p>
                <c-progress thin>
                    <c-progress-bar [value]="1"></c-progress-bar>
                </c-progress>
            </c-toast-body>
        </c-toast>
    </c-toaster>
    <c-toaster [placement]="position" class="p-3" position="fixed">
        <c-toast [visible]="visibleFallo">
            <c-toast-header>
                <toast-sample-icon></toast-sample-icon>
                Error
            </c-toast-header>
            <c-toast-body>
                <p>Algo fallo, recomiendo ver la consola (f12)</p>
                <c-progress thin>
                    <c-progress-bar [value]="1"></c-progress-bar>
                </c-progress>
            </c-toast-body>
        </c-toast>
    </c-toaster>
</div>